In [2]:
! pip install pyspark

Requirement already satisfied: pyspark in /home/jijo/.virtualenvs/pyspark-learnings/lib/python3.11/site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /home/jijo/.virtualenvs/pyspark-learnings/lib/python3.11/site-packages (from pyspark) (0.10.9.5)

In [24]:
import pyspark

In [25]:
import pandas as pd

In [27]:
pd.read_csv('data/sample_data.csv')

      name  age  experience  salary
0     Jijo   25           4   30000
1  Adharsh   25           5   25000
2   Sajjad   23           2   20000

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName('basics').getOrCreate()

In [30]:
spark

In [32]:
#df_pyspark = spark.read.csv('data/test1.csv')
df_pyspark = spark.read.option('header','true').csv('data/sample_data.csv')

In [33]:
spark.read.option('header','true').csv('data/sample_data.csv').show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   Jijo| 25|         4| 30000|
|Adharsh| 25|         5| 25000|
| Sajjad| 23|         2| 20000|
+-------+---+----------+------+

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [35]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)
 |-- salary: string (nullable = true)

In [36]:
df_pyspark.dtypes

[('name', 'string'),
 ('age', 'string'),
 ('experience', 'string'),
 ('salary', 'string')]