# Filter Operations

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('data/test2.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   Jijo|  25|         4| 30000|
|Adharsh|  25|         5| 25000|
| Sajjad|  23|         2| 20000|
|  Allen|  23|         3| 20000|
| Nikhil|  23|         1| 15000|
|Abhinav|  26|         3| 18000|
| Deepak|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

### Salary <= 20000

In [5]:
df_pyspark.filter('salary<=20000').show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Sajjad| 23|         2| 20000|
|  Allen| 23|         3| 20000|
| Nikhil| 23|         1| 15000|
|Abhinav| 26|         3| 18000|
+-------+---+----------+------+

In [6]:
df_pyspark.filter('salary<=20000').select(['name', 'experience']).show()

+-------+----------+
|   name|experience|
+-------+----------+
| Sajjad|         2|
|  Allen|         3|
| Nikhil|         1|
|Abhinav|         3|
+-------+----------+

In [9]:
df_pyspark.filter((df_pyspark['salary']<=20000) & 
                  (df_pyspark['salary']>15000)).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
| Sajjad| 23|         2| 20000|
|  Allen| 23|         3| 20000|
|Abhinav| 26|         3| 18000|
+-------+---+----------+------+

### not operator

In [10]:
df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   Jijo|  25|         4| 30000|
|Adharsh|  25|         5| 25000|
| Deepak|null|      null| 40000|
|   null|  34|        10| 38000|
+-------+----+----------+------+