# Handing Missing Values

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('MissingValues').getOrCreate()

In [6]:
df_pyspark = spark.read.csv('data/test2.csv', header=True, inferSchema=True)

In [7]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   Jijo|  25|         4| 30000|
|Adharsh|  25|         5| 25000|
| Sajjad|  23|         2| 20000|
|  Allen|  23|         3| 20000|
| Nikhil|  23|         1| 15000|
|Abhinav|  26|         3| 18000|
| Deepak|null|      null| 40000|
|   null|  34|        10| 38000|
|   null|  36|      null|  null|
+-------+----+----------+------+

In [8]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   Jijo| 25|         4| 30000|
|Adharsh| 25|         5| 25000|
| Sajjad| 23|         2| 20000|
|  Allen| 23|         3| 20000|
| Nikhil| 23|         1| 15000|
|Abhinav| 26|         3| 18000|
+-------+---+----------+------+

If how is any it drops the rows having atleast one null value, if how is all it drops rows with all null values

thresh is for setting threshold for number of non null values

In [9]:
df_pyspark.na.drop(how="any", thresh=2).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   Jijo|  25|         4| 30000|
|Adharsh|  25|         5| 25000|
| Sajjad|  23|         2| 20000|
|  Allen|  23|         3| 20000|
| Nikhil|  23|         1| 15000|
|Abhinav|  26|         3| 18000|
| Deepak|null|      null| 40000|
|   null|  34|        10| 38000|
+-------+----+----------+------+

subset contains column names, if the column have any null values it deletes the entire record

In [11]:
df_pyspark.na.drop(how="any", subset=['age']).show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   Jijo| 25|         4| 30000|
|Adharsh| 25|         5| 25000|
| Sajjad| 23|         2| 20000|
|  Allen| 23|         3| 20000|
| Nikhil| 23|         1| 15000|
|Abhinav| 26|         3| 18000|
|   null| 34|        10| 38000|
|   null| 36|      null|  null|
+-------+---+----------+------+

if we pass one value it will only replace the null values which are having the same datatype(in a column which contains values from that particular datatype)

Second parameter is column name

In [23]:
df_pyspark.na.fill(0, 'experience').show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   Jijo|  25|         4| 30000|
|Adharsh|  25|         5| 25000|
| Sajjad|  23|         2| 20000|
|  Allen|  23|         3| 20000|
| Nikhil|  23|         1| 15000|
|Abhinav|  26|         3| 18000|
| Deepak|null|         0| 40000|
|   null|  34|        10| 38000|
|   null|  36|         0|  null|
+-------+----+----------+------+